<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ToDoApplication</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<div class="container">
    <h1>To-Do Application</h1>

    <div id="task-list" class="task-list">
        <h2 class="task-heading">Add your Task Here</h2>
        <!-- Existing tasks from the database will be loaded here -->
    </div>

    <button type="button" class="add-task-btn" onclick="addTask()">+ Add Task</button>
    <button type="button" class="submit-btn" onclick="submitForm()">Save Task List</button>

    <div id="completed-tasks" class="completed-tasks">
        <h2 class="task-heading">Completed Tasks</h2>
        <!-- Completed tasks will be loaded here -->
    </div>

</div>

<script src="/js/scripts.js"></script>
</body>
</html>
